---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre mi | Marvin Velasco" description="Descripcion de quien es Marvin Velasco">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mi"
				tagline="Gracias por visitar mi sitio. Sigue leyendo para descubrir más sobre mí y quién soy."
			>
				<img
					width="1553"
					height="873"
					src="/assets/jaz-miguel.jpg"
					alt="Marvin Velasco, una foto casual con mi sobrino miguel"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Historia</h2>
				<div class="content">
					<p>
						Desde muy joven, comencé a experimentar con la manicura.
						 Mi pasión por el dibujo y la pintura me llevó a mejorar mis técnicas
						y a descubrir un amor por esta profesión.
					</p>
					<p>
						Estudié Administración en Seguridad y Salud en el Trabajo,
						 una carrera que no pude desarrollar plenamente
						 debido a la escasa demanda en el mercado. Sin embargo,
						 este desafío me impulsó a retomar mi pasión por el arte y la decoración,
						  que puedo plasmar en el mundo de la manicura y pedicura.
					</p>
					<p>
						Hoy en día, encuentro una gran satisfacción en poder brindar sonrisas de agradecimiento
						 a mis clientes cuando ven cómo embellezco sus manos y pies con mi arte. Es un honor para mí
						 poder crear obras de arte en cada manicura y pedicura, y es un placer compartir
						  mi pasión con quienes confían en mis servicios.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educacion</h2>
				<div class="content">
					<p>Administradora en seguridad y salud en el trabajo.</p>
					<p>Certificaciones de academias en manicure y pedicure.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>La capacidad de realizar manicuras y pedicuras de alta calidad,
						 incluyendo técnicas de limado, esmaltado y cuidado de uñas.

						Habilidad en la creación de diseños y arte en las uñas, 
						como nail art, esculpido y decoración.
						
						Conocimiento y prácticas de higiene adecuadas para garantizar la salud y seguridad de los clientes.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
