---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="mano" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Manicurista</h2>
		<p>Con años de experiencia en la industria, te garantizo un servicio de alta calidad, 
			desde la limpieza y el cuidado de tus uñas hasta la aplicación de esmalte y diseños personalizados</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="silla" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Pedicurista</h2>
		<p>Utilizo técnicas expertas para eliminar durezas, dar forma a las uñas y 
			embellecer tus pies con esmalte y tratamientos personalizados.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Amiga</h2>
		<p>Mientras embellecemos tus uñas, estamos aquí para ser tu amiga y confidente</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
